* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* Add a universal box-sizing rule for all elements */
*, *::before, *::after {
    box-sizing: inherit;
}

body {
    background-image: linear-gradient(to right, #535457, #000);
    padding: 0;
    margin: 0;
    font-size: 16px; /* Set a base font size for responsive design */
}

#header {
    /* width: 100%;
    height: 100vh; */
    /* Remove the 'height: 50%' property as it may not be necessary */
    background-size: cover;
    background-position: center;
}

/* Add a media query for smaller screens (adjust the max-width value as needed) */
@media (max-width: 768px) {
    #header {
        height: auto; /* Allow the header to adapt its height on smaller screens */
    }
}

.header img {
    height: 100%;
    width: 35vw;
    display: block;
    margin-left: 8vw;
    margin-top: 3.5vh;
}

.container {
    padding: 3.5% 3.5%;
}

.row {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.header-text{
    text-align: left; /* Align the text to the left */
    font-size: 4vw; /* Make the text smaller */
    margin-left: 1rem; /* Add margin to the left for spacing */
}
.sub-text {
    text-align: left; /* Align the text to the left */
    font-size: 4vw; /* Make the text smaller */
    margin-left: 1rem; /* Add margin to the left for spacing */
}


/* Add a media query to make further adjustments for smaller screens */
@media (max-width: 768px) {
    .container {
        padding: 1% 1%;
    }

    .row {
        flex-direction: column;
    }
    
    .header img {
        max-width: 75%; /* Adjust the image size for smaller screens */
    }

    .header-text,
    .sub-text {
        text-align: center; /* Center-align the text on smaller screens */
        margin-left: 0; /* Remove the left margin on smaller screens */
        font-size: 0.9rem; /* Adjust the text size for smaller screens */
    }
}


/* Default styles for larger screens */
nav {
    display: flex;
    align-items: flex-start;
    margin-left: 45vw;
    margin-top: 1vh;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 8rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 6rem;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 0.5rem;
    background: #FFD166;
    position: absolute;
    left: 0;
    bottom: -0.6rem; */
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 2rem 0; /* Adjust margins for smaller screens */
    }

    nav ul li {
        margin: 1rem 0; /* Adjust margins for smaller screens */
    }

    nav ul li a {
        font-size: 2rem; /* Adjust font size for smaller screens */
    }
}
/* 
.row.row1{
    margin-top: 2vh;
} */
/* icon row */

/* Common styles for the header section */
.head-row2-col1 {
    margin-left: 2rem;
    max-width: 50%; /* Set the maximum width for the image to take up half of the row */
    height: auto;
    display: block;
}

.head-row2-col2 {
    color: white;
    text-align: left;
}

.head-row2-col2 h1 {
    font-size: 2rem; /* Adjust the font size for the header text as needed */
    margin-top: 1rem; /* Adjust the top margin for the header text as needed */
}

.header-text {
    padding-top: 2rem; /* Adjust the top padding for the header text as needed */
    font-size: 24rem; /* Adjust the font size for the header text as needed */
    letter-spacing: 0.5rem; /* Adjust the letter spacing for the header text as needed */
    font-weight: 700;
    margin-left: -1em;
    margin-top: 0.3em;
}

.sub-text {
    font-size: 10rem; /* Adjust the font size for the subtext as needed */
    letter-spacing: 0.5rem; /* Adjust the letter spacing for the subtext as needed */
    color: #FFD166;
    text-align: center;
    font-family: 'Montserrat';
}

.icon.row.row3{
    align-items: center;
    margin-left: 50vw;
    margin-top: -15vh;
}
.social-icons{
    margin:30rem 0; /* Adjust the top and bottom margin for the social icons */
    margin-top:20em;
    display: flex;
    margin-left: 50%;
    justify-content: flex-start;
    gap: 10rem;
}
.social-icons a{
    text-decoration: none;
    font-size: 8rem; /* Adjust the font size for the social icons as needed */
    margin-right: 0; /* Adjust the right margin between social icons as needed */
    color: white;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: #FFD166;
    transform: scale(1.1);
}

/* Media query for smaller screens */
@media (max-width: 768px){
    .header-text {
        padding-top: 1rem; /* Adjust the top padding for the header text on smaller screens */
        font-size: 2rem; /* Adjust the font size for the header text on smaller screens */
        letter-spacing: 0.2rem; /* Adjust the letter spacing for the header text on smaller screens */
    }

    .sub-text {
        font-size: 1.2rem; /* Adjust the font size for the subtext on smaller screens */
        letter-spacing: 0.2rem; /* Adjust the letter spacing for the subtext on smaller screens */
    }

    .social-icons {
        margin: 1rem 0; /* Adjust the top and bottom margin for the social icons on smaller screens */
    }

    .social-icons a {
        font-size: 1.5rem; /* Adjust the font size for the social icons on smaller screens */
        margin-right: 0.5rem; /* Adjust the right margin between social icons on smaller screens */
    }
}

/* <!-------------------------------------HEADER END--------------------------------------> */
/* <!---------------------------------------ABOUT-----------------------------------------> */
.about{
    margin-top: 10vh;
}
.about h1{
    font-size: 170px;
    text-align: center;
    /* text-decoration: underline;
    text-underline-offset: 50%; */
    color: #FFD166;
    padding-bottom: 5px;
    position: relative;
    letter-spacing: 20px;
}
.about h1:before{
    margin-left: 290px;
    content: "";
    position: absolute;
    width: 8%;
    height: 20px;
    bottom: -50px;
    border-bottom: 15px solid #FFD166;
}
/* .about-text:hover{
    text-decoration: underline;
    text-underline-offset: 30%; */
    /* transition: 0.5s;
} */
.about-small-text{
    padding-top: 3%;
    text-align: center;
    color: white;
    font-size: 80px;
    letter-spacing: 6px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* <!-------------------------------------ABOUT END---------------------------------------> */
/* <!---------------------------------------PROJECT---------------------------------------> */
.projects{
    margin-top: 12vh;
    padding: 0 8vw;
}
.project-header{
    margin-top: -5%;
    font-size: 200px;
    text-align: left;
    /* text-decoration: underline;
    text-underline-offset: 50%; */
    color: #FFD166;
    padding-bottom: 5px;
    position: relative;
    letter-spacing: 20px;

}
.project-header:after {
    position: absolute;
    content: "";
    height: 10px;
    background-color: #FFD166;
    width: 70%;
    margin-left: 15px;
    top: 75%;
    } 
/* #projects{
    padding:50px;
} */
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap:40px;
    margin-top: 250px;
    margin-left: -150px;
}
.work{
    border-radius: 100px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 100px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    weight: 100%;
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,1,2,0.7), #FFD166);
    border-radius: 100px;
    position: absolute;
    margin-left: 0px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 100px;
    color: #fff;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a{
    margin-top: 100px;
    color: white;
    text-decoration: none;
    font-size: 80px;
    line-height: 180px;
    background: black;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}

/* <!------------------------------------PROJECT END--------------------------------------> */
/* <!---------------------------------------CONTACT---------------------------------------> */
.contact{
    margin-top: 600px;
    margin-left: 10%;
    margin-bottom: 3%;
}
.contact-left{
    flex-basis: 35%;
}

/* CONTACT LEFT */
.contact-left p{
    margin-top: 100px;
    margin-left: 50px;
    color: white;
    font-size: 70px;
}
.contact-left p i{
    color: white;
    margin-right: 15px;
    font-size: 60px;
}
.sub-title{
    font-size: 150px;
    font-weight: 600;
    color: #FFD166;
}
.sub-title.sub2{
    margin-bottom: 50px;
    font-size: 150px;
    font-weight: 600;
    color: #FFD166;
}

/* .social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-left: 50px;
    color: black;
    display: inline-table;
    transition: transform 0.5s;
} */
/* .social-icons a:hover{
    color: red;
    transform: translateY(-5px);
} */
.btn.btn2{
    margin-top: 200px;
    display: inline-block;
    text-align: center ;
    background: #FFD166;
    border-radius: 20px;
    text-decoration: none;
    height: 120px;
}
.btn.btn2 p{
    margin-top: 20px;
    color: black;
    font-size: 60px;
    font-weight: 10px;
}
.contact-right{
    margin-left: -11%;
    flex-basis: 35%;
}

.contact-right1{
    margin-left: -10%;
    flex-basis: 40%;

}

form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 60px;
    margin: 50px 10px;
    color: white;
    font-size: 60px;
    border-radius: 6px;
    resize: none;
}

form .btn2{
    margin-top: -20%;
    padding: 30px;
    font-size: 60px;
    margin-left: 85%;
    cursor: pointer;
}
/* form .btn2{
    padding: 30px;
    font-size: 60px;
    cursor: pointer;
} */
.copyright{
    margin-top: 100px;
    text-align: center;
    padding: 30px 0;
    background: #FFD166;
    background-size: cover;
    font-weight: 100;
    margin-top: 20px;
    color: black;
}
.copyright p{
    font-size: 40px;
}

.copyright i{
    color: #ff004f;
}
/* ----------------css for samll screen */
/* nav .fas{
    display: none;
}
@media only screen and (max-width: 600px){
    #header{
        background-image: url(images/headshot.JPG);
    }
    .header-text{
        margin-top: 100%;
        font-size: 16px;
    }
    .header-text h1{
        font-size: 30px;
    }
    nav .fas{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: red;
        position: fixed;
        top: 0;
        right: 0;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fas{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
} */
#msg{
    color: #61b752;
    margin-top: 10px;
    display: block;
}
/* <!------------------------------------CONTACT END--------------------------------------> */

/* <!------------------------------------JAVASCRIPT---------------------------------------> */
/* <!--------------------------------JAVASCRIPT END---------------------------------------> */ */
