* {
    margin: 0px 0px;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gill Sans Extrabold", sans-serif;
    font-family: "Goudy Bookletter 1911", sans-serif;
}

html {
    scroll-behavior: smooth;
}
*, *::before, *::after {
    box-sizing: inherit;
}
/* BODY */
body {
    background-image: linear-gradient(to right, #535457, #000);
    padding: 0;
    margin: 0;
    font-size: 16px;
    display: block;
}

#header {
    background-size: cover;
    background-position: center;
}
.header:before {
    position: absolute;
    content: "";
    height: 13vh; 
    background-color: #FFD166;
    width: 100%;
    margin-top:0;
    opacity: 0.4;
}
.header img {
    height: 100%;
    width: 35vw;
    max-width: 35vw;
    display: block;
    margin-left: 8vw;
    margin-top: 3.5vh;
}

.container {
    padding: 3.5vw 3vh;
    position: relative;
}

.row {
    display: flex;
    align-items: center;
    position: relative;
}

/* Default styles for larger screens */
nav {
    display: inline-flexbox;
    align-items: flex-start;
    margin-left: 60vw;
    margin-top: 0.7vh;
    max-width: 40vw;
    position: relative;

}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
    position: relative;
}

nav ul li {
    display: inline-block;
    position: relative;
    margin: 0 1vw;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.6vw;
    font-size-adjust: ;
    max-block-size: 1.6vw;
    position: relative;
    display: inline-block;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 0.3vh;
    background: #FFD166;
    position: absolute;
    left: 0;
    bottom: -0.5vw;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}
.row.row1 {
    margin-top: -1vh;
    position: relative;
}
.logo{
    max-block-size: 4vw;
    max-height: fit-content;
    margin-left: 5vw;
    position: absolute;
}
.row.row1 img{
    height: 100%;
    max-width: 3.5vw;
    margin-top: 1%;
    display: block;
    margin-left: 5vw;
}
/* icon row

/* Common styles for the header section */
.row.row2{
    margin-top: 4%;
}
.head-row2-col1 {
    max-width: 50%;
    height: auto;
    display: block;
}

.head-row2-col2 {
    color: white;
    text-align: left;
    display: block;
}

.head-row2-col2 h1 {
    font-size: 2vw;
    max-width: fit-content;
}

.header-text {
    position: relative;
    font-size: 7vw; 
    margin-left: -4vw;
    margin-top: 10%;
}

.sub-text {
    position: relative;
    font-size: 3vw;
    max-block-size: 3vw;
    color: #FFD166;
    text-align: center;
    font-family: 'cursive';
}
.icons{
    margin-left: 50%;
}
.social-icons{
    margin: 5vh 0;
    gap: 2.7vw;
    margin-top: -2vh;
    display: flex;
    justify-content: flex-start;
}
.social-icons a{
    text-decoration: none;
    font-size: 2.5vw; /* Adjust the font size for the social icons as needed */
    max-block-size: 2.5vw;
    color: white;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: #FFD166;
    transform: scale(1.3);
}

/* <!-------------------------------------HEADER END--------------------------------------> */
/* <!---------------------------------------ABOUT-----------------------------------------> */
.about {
    margin-top: 10vh; /* Set the top margin using viewport height (vh) units */
    position: relative;
    display: block;
    align-items: center;

}
.about-big{
    font-size: 3vw; /* Use a percentage of viewport width (vw) for font size */
    max-block-size: 3vw;
    max-height: 10%;
    text-align: center;
    color: #FFD166;
    position: relative;
    letter-spacing: 0.8vw; /* Use vw for letter spacing */
}

.about-big::before {
    margin-left: 5vw; /* Use vw for margin */
    content: "";
    position: absolute;
    width: 13%;
    max-width: 15%;
    height: 0.5vh; /* Use vh for height */
    max-height: 0.5vh;
    bottom: -1vh; /* Use vh for margin */
    border-bottom: 0.3vw solid #FFD166; /* Use vw for border width */
}

.about-small{
    margin-top: 5vh; /* Adjust the top padding as needed */
    text-align: center;
    color: white;
    font-size: 1.5vw; /* Use vw for font size */
    max-block-size: 1.3vw;
    letter-spacing: 0.2vw; /* Use vw for letter spacing */
    font-family: 'cursive';
}


/* <!-------------------------------------ABOUT END---------------------------------------> */
/* <!---------------------------------------PROJECT---------------------------------------> */
.projects {
    margin-top: 30vh; /* Set the top margin using viewport height (vh) units */
    align-items: center;
}
.project-header {
    margin-top: 0;
    margin-left: 7vw;
    margin-right: 15vw;
    font-size: 3.5vw; 
    max-block-size: 3.5VW;
    text-align: left;
    color: #FFD166;
    padding-bottom: 1vh;
    position: relative;
    letter-spacing: 1vw;
}

.project-header:after {
    position: absolute;
    content: "";
    height: 0.5vh;
    background-color: #FFD166;
    width: 70%;
    margin-left: 1.5vw; 
    top: 75%;
}
/* see more button */
.see-more{
    align-items: center;
    position: relative;
    text-align: center;
}
.work-list {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 3.5vw;
    margin-top: 5vh;
    margin-left: 7vw;
    margin-right: 7vw;
    
}

.work {
    border-radius: 5vh;
    position: relative;
    overflow: hidden;
}

.work img {
    width: 100%;
    border-radius:5vh;
    display: block;
    transition: transform 0.5s;
    position: relative;
}

.layer {
    weight: 100%; 
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 1, 2, 0.7), #FFD166);
    border-radius: 5vh; 
    position: absolute;
    margin-left: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 1vh;
    text-align: center;
    font-size: 1.5vw;
    color: #fff;
    transition: height 0.5s;
}

.layer h3 {
    font-weight: 500;
    margin-bottom: 1vw;
}

.layer a {
    margin-top: 1vw;
    color: white;
    text-decoration: none;
    font-size: 1.5vw;
    line-height: 3.6vw;
    background: black;
    opacity: 0.7;
    width: 3.5vw;
    height: 3.5vw;
    border-radius: 50%;
    text-align: center;
}

.work:hover img {
    transform: scale(1.1);
}

.work:hover .layer {
    height: 100%;
}


/* <!------------------------------------PROJECT END--------------------------------------> */
/* <!---------------------------------------CONTACT---------------------------------------> */
.contact {
    margin-top: 15vh;
    margin-left: 10vw;
    margin-bottom: 3vh;
}

.contact-left {
    flex-basis: 35%;
    margin-top: -10vh;
    margin-left: 5vw;
    text-align: left;
}
.row.bee{
    flex: auto;
}
.row.bee img {
    height: 100%;
    max-width: 8vw;
    display: block;
    margin-top: 3.5vh;
    margin-bottom: 3vh;
    margin-right: 0.5vw;
}
.row.bee h1{
    font-size: 2vw;
    font-weight: 600;
    padding-bottom: 5vh;
    text-align: left;
    color: #FFD166;
    margin-left: 1.3vw;
    margin-top: 10vh;
}
/* CONTACT LEFT */
.contact-left p {
    margin-left: 0vw;
    color: white;
    font-size: 1vw;
}

.contact-left p i {
    color: white;
    padding: 1vh 1vw;
    margin-right: 1vw;
    font-size: 1vw;
}

/* CONTACT title */
.sub-title {
    font-size: 2vw; 
    font-weight: 600;
    padding-bottom: 5vh;
    color: #FFD166;
}

.btn.btn2 {
    margin-top: 3vh; 
    display: inline-block;
    text-align: center;
    padding: 1vh 1vw;
    background: #FFD166;
    border-radius: 0.5vw; 
    text-decoration: none;
    margin-left: 4vw;
}

.btn.btn2 p {
    color: black;
    font-size: 1vw; 
}

.contact-right {
    margin-left: 7vw;
    flex-basis: 35%;
    margin-right: 16vw;
}

form input,
form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 2vh 2vw;
    margin: 1vh 0; 
    color: white;
    font-size: 1vw;
    border-radius: 0.5vw; 
    resize: none;
}

.btn.btn3 {
    margin-top: 2vh;
    display: inline-block;
    text-align: center;
    padding: 1vh 1vw;
    background: #FFD166;
    border-radius: 0.5vw; 
    text-decoration: none;
    margin-left: 98%;
}
form .btn3 {
    padding: 1vw 1vw; 
    font-size: 1vw; 
    cursor: pointer;

}

.copyright {
    text-align: center;
    padding: 0.5vh 0; 
    background-color: transparent;
    background-size: cover;
    width: 100%;
    font-weight: 100;
    color: white;
    opacity: 0.7;
    margin-bottom: -2%;
}

.copyright p {
    font-size: 1.3vh; /* Adjust the font size using viewport width (vw) units */;
}

/* <!------------------------------------CONTACT END--------------------------------------> */

/* <!------------------------------------JAVASCRIPT---------------------------------------> */
/* <!--------------------------------JAVASCRIPT END---------------------------------------> */ 
/* ------------------------------------SMALL SCREEN------------------------------------------ */
/* Add a media query for smaller screens (adjust the max-width value as needed) */
@media (max-width: 768px) {
    #header {
        height: auto; /* Allow the header to adapt its height on smaller screens */
    }
    .header:before {
        height: 8vh;
        /* Add any other adjustments you need for smaller screens */
    }
    .container {
        padding: 1% 1%;
    }

    .row {
        flex-direction: column;
    }
    
    .header img {
        max-width: 75%; /* Adjust the image size for smaller screens */
    }
    .logo {

        max-width: 4vw;
        max-block-size: 4vw;
        height: auto;
        margin-left: 5vw;
        position: absolute;
        display: block;
    }
    .header-text,
    .sub-text {
        text-align: center;
        margin-left: 0;
        /* font-size: 0.9rem;  */
    }
    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 2rem 0; /* Adjust margins for smaller screens */
    }

    nav ul li {
        margin: 1rem 0; /* Adjust margins for smaller screens */
    }

    nav ul li a {
        font-size: 0.9rem; /* Adjust font size for smaller screens */
    }
    .header-text {
        padding-top: 1rem;
        font-size: 2rem; 
        letter-spacing: 0.2rem; 
    }
    .sub-text {
        font-size: 1.2rem;
        letter-spacing: 0.2rem; 
    }
    .icons {
        align-items: center;
        text-align: center;
    }
    .social-icons {
        margin: 1rem 0;
        align-items: center;
    }

    .social-icons a {
        font-size: 1.5rem; 
        margin-right: 0.2rem; 
    }
    .row.row1 img {
        max-width: 10vw;
        margin-left: 2vw;
    }
    .about h1 {
        font-size: 3rem; 
        letter-spacing: 2px; 
    }
    .projects {
        padding: 0 1rem;
    }

    .contact {
        margin-top: 5vh;
        margin-left: 2vw;
        margin-bottom: 3vh;
    }

    .contact-left {
        flex-basis: 100%;
        margin-top: 0;
        margin-left: 0;
        text-align: center;
    }

    .row.bee img {
        height: 10vh;
        max-width: 30vw;
        display: block;
        margin: 3vh auto;
    }

    .row.bee h1 {
        font-size: 2vh;
        font-weight: 600;
        padding-bottom: 3vh;
        text-align: center;
        color: #FFD166;
        margin: 0;
    }

    /* CONTACT LEFT */
    .contact-left p {
        margin-left: 0;
        color: white;
        font-size: 2vh;
    }
    /* Adjust styles for smaller screens here */
    .contact {
        margin: 5vh 2vw 3vh;
    }

    .contact-left {
        flex-basis: 100%;
        margin: 0;
        text-align: center;
    }

    .sub-title {
        font-size: 4vw;
        padding-bottom: 2vh;
    }

    .btn.btn2 {
        margin-top: 3vh;
        margin-left: 0;
        width: 50%; /* Adjust the button width */
    }

    .btn.btn2 p {
        font-size: 2.5vw;
    }

    .contact-right {
        margin-left: 7vw;
        margin-right: 7vw;
        flex-basis: 100%;
    }
    /* Adjust styles for smaller screens here */
    form input,
    form textarea {
        padding: 4vh 4vw;
        font-size: 2vw;
        border-radius: 2vw;
    }

    .btn.btn3 {
        margin-top: 4vh;
        padding: 2vh 2vw;
        font-size: 2vw;
        margin-left: 0;
    }

    form .btn3 {
        padding: 2vw 2vw;
        font-size: 2vw;
    }

    .copyright {
        padding: 1vh 0;
        font-size: 1.2vh;
    }
}
#msg{
    color: #61b752;
    margin-top: 10px;
    display: block;
}
