* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gill Sans Extrabold", sans-serif;
    font-family: "Goudy Bookletter 1911", sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* Add a universal box-sizing rule for all elements */
*, *::before, *::after {
    box-sizing: inherit;
}

body {
    background-image: linear-gradient(to right, #535457, #000);
    padding: 0;
    margin: 0;
    font-size: 16px; /* Set a base font size for responsive design */
}

#header {
    /* width: 100%;
    height: 100vh; */
    /* Remove the 'height: 50%' property as it may not be necessary */
    background-size: cover;
    background-position: center;
}

/* Add a media query for smaller screens (adjust the max-width value as needed) */
@media (max-width: 768px) {
    #header {
        height: auto; /* Allow the header to adapt its height on smaller screens */
    }
}

.header img {
    height: 100%;
    width: 35vw;
    display: block;
    margin-left: 8vw;
    margin-top: 3.5vh;
}

.container {
    padding: 3.5% 3.5%;
}

.row {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.header-text{
    text-align: left; /* Align the text to the left */
    font-size: 4vw; /* Make the text smaller */
    margin-left: 1rem; /* Add margin to the left for spacing */
}
.sub-text {
    text-align: left; /* Align the text to the left */
    font-size: 4vw; /* Make the text smaller */
    margin-left: 1rem; /* Add margin to the left for spacing */
}


/* Add a media query to make further adjustments for smaller screens */
@media (max-width: 768px) {
    .container {
        padding: 1% 1%;
    }

    .row {
        flex-direction: column;
    }
    
    .header img {
        max-width: 75%; /* Adjust the image size for smaller screens */
    }

    .header-text,
    .sub-text {
        text-align: center; /* Center-align the text on smaller screens */
        margin-left: 0; /* Remove the left margin on smaller screens */
        font-size: 0.9rem; /* Adjust the text size for smaller screens */
    }
}


/* Default styles for larger screens */
nav {
    display: flex;
    align-items: flex-start;
    margin-left: 45vw;
    margin-top: 1vh;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 8rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 6rem;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 0.5rem;
    background: #FFD166;
    position: absolute;
    left: 0;
    bottom: -0.6rem; */
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 2rem 0; /* Adjust margins for smaller screens */
    }

    nav ul li {
        margin: 1rem 0; /* Adjust margins for smaller screens */
    }

    nav ul li a {
        font-size: 0.9rem; /* Adjust font size for smaller screens */
    }
}
/* 
.row.row1{
    margin-top: 2vh;
} */
/* icon row */

/* Common styles for the header section */
.head-row2-col1 {
    margin-left: 2rem;
    max-width: 50%; /* Set the maximum width for the image to take up half of the row */
    height: auto;
    display: block;
}

.head-row2-col2 {
    color: white;
    text-align: left;
}

.head-row2-col2 h1 {
    font-size: 2rem; /* Adjust the font size for the header text as needed */
    margin-top: 1rem; /* Adjust the top margin for the header text as needed */
}

.header-text {
    padding-top: 2rem; /* Adjust the top padding for the header text as needed */
    font-size: 24rem; /* Adjust the font size for the header text as needed */
    letter-spacing: 0.5rem; /* Adjust the letter spacing for the header text as needed */
    font-weight: 700;
    margin-left: -1em;
    margin-top: 0.3em;
}

.sub-text {
    font-size: 10rem; /* Adjust the font size for the subtext as needed */
    letter-spacing: 0.5rem; /* Adjust the letter spacing for the subtext as needed */
    color: #FFD166;
    text-align: center;
    font-family: 'cursive';
}

.icon.row.row3{
    align-items: center;
    margin-left: 50vw;
    margin-top: -15vh;
}
.social-icons{
    margin:30rem 0; /* Adjust the top and bottom margin for the social icons */
    margin-top:20em;
    display: flex;
    margin-left: 50%;
    justify-content: flex-start;
    gap: 10rem;
}
.social-icons a{
    text-decoration: none;
    font-size: 8rem; /* Adjust the font size for the social icons as needed */
    margin-right: 0; /* Adjust the right margin between social icons as needed */
    color: white;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: #FFD166;
    transform: scale(1.1);
}

/* Media query for smaller screens */
@media (max-width: 768px){
    .header-text {
        padding-top: 1rem; /* Adjust the top padding for the header text on smaller screens */
        font-size: 2rem; /* Adjust the font size for the header text on smaller screens */
        letter-spacing: 0.2rem; /* Adjust the letter spacing for the header text on smaller screens */
    }

    .sub-text {
        font-size: 1.2rem; /* Adjust the font size for the subtext on smaller screens */
        letter-spacing: 0.2rem; /* Adjust the letter spacing for the subtext on smaller screens */
    }

    .social-icons {
        margin: 1rem 0; /* Adjust the top and bottom margin for the social icons on smaller screens */
    }

    .social-icons a {
        font-size: 1.5rem; /* Adjust the font size for the social icons on smaller screens */
        margin-right: 0.5rem; /* Adjust the right margin between social icons on smaller screens */
    }
}

/* <!-------------------------------------HEADER END--------------------------------------> */
/* <!---------------------------------------ABOUT-----------------------------------------> */
.about {
    margin-top: -2vh; /* Set the top margin using viewport height (vh) units */
    padding: 4% 4%; /* Adjust the padding for better spacing */
}

.about h1 {
    font-size: 3vw; /* Use a percentage of viewport width (vw) for font size */
    text-align: center;
    color: #FFD166;
    padding-bottom: 5px;
    position: relative;
    letter-spacing: 0.8vw; /* Use vw for letter spacing */
}

.about h1:before {
    margin-left: 5vw; /* Use vw for margin */
    content: "";
    position: absolute;
    width: 15%;
    height: 0.5rem; /* Use vh for height */
    bottom: -1vh; /* Use vh for margin */
    border-bottom: 0.3vw solid #FFD166; /* Use vw for border width */
}

.about-small-text {
    padding-top: 3%; /* Adjust the top padding as needed */
    text-align: center;
    color: white;
    font-size: 1.3vw; /* Use vw for font size */
    letter-spacing: 0.2vw; /* Use vw for letter spacing */
    font-family: 'cursive';
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
}

/* Add a media query for smaller screens */
@media (max-width: 768px) {
    .about h1 {
        font-size: 3rem; /* Adjust font size for smaller screens */
        letter-spacing: 2px; /* Adjust letter spacing for smaller screens */
    }
}

/* <!-------------------------------------ABOUT END---------------------------------------> */
/* <!---------------------------------------PROJECT---------------------------------------> */
.projects {
    margin-top: 10vh; /* Set the top margin using viewport height (vh) units */
    /* padding: 0 12vw; Adjust the padding for better spacing on smaller screens */
    align-items: center;
}

.project-header {
    margin-top: -4%;
    margin-left: 7vw;
    margin-right: 15vw;
    font-size: 3.5vw; /* Use a percentage of viewport width (vw) for font size */
    text-align: left;
    color: #FFD166;
    padding-bottom: 1vh;
    position: relative;
    letter-spacing: 1vw; /* Use vw for letter spacing */
}

.project-header:after {
    position: absolute;
    content: "";
    height: 0.5vh; /* Use vh for height */
    background-color: #FFD166;
    width: 70%;
    margin-left: 1.5vw; /* Use vw for margin */
    top: 75%;
}

.work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 4rem; /* Use vw for grid gap */
    margin-top: 5vh; /* Use vh for margin */
    margin-left: 7vw; /* Use vw for margin */
    margin-right: 7vw;
}

.work {
    border-radius: 5vh; /* Use vw for border radius */
    position: relative;
    overflow: hidden;
}

.work img {
    width: 100%;
    border-radius:5vh; /* Use vw for border radius */
    display: block;
    transition: transform 0.5s;
}

.layer {
    weight: 100%; /* This might be a typo, should be "width" */
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 1, 2, 0.7), #FFD166);
    border-radius: 5vh; /* Use vw for border radius */
    position: absolute;
    margin-left: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 1vh; /* Use vw for padding */
    text-align: center;
    font-size: 1.5vw; /* Use vw for font size */
    color: #fff;
    transition: height 0.5s;
}

.layer h3 {
    font-weight: 500;
    margin-bottom: 1vw; /* Use vw for margin */
}

.layer a {
    margin-top: 1vw; /* Use vw for margin */
    color: white;
    text-decoration: none;
    font-size: 1.5vw; /* Use vw for font size */
    line-height: 3.6vw; /* Use vw for line height */
    background: black;
    opacity: 0.7;
    width: 3.5vw; /* Use vw for width */
    height: 3.5vw; /* Use vw for height */
    border-radius: 50%;
    text-align: center;
}

.work:hover img {
    transform: scale(1.1);
}

.work:hover .layer {
    height: 100%;
}

/* Add a media query for smaller screens */
@media (max-width: 768px) {
    .projects {
        padding: 0 1rem; /* Further reduce padding for smaller screens */
    }
}

/* <!------------------------------------PROJECT END--------------------------------------> */
/* <!---------------------------------------CONTACT---------------------------------------> */
.contact {
    margin-top: 15vh; /* Adjust the top margin using viewport height (vh) units */
    margin-left: 10vw; /* Adjust the left margin using viewport width (vw) units */
    margin-bottom: 3vh; /* Adjust the bottom margin using viewport height (vh) units */
}

.contact-left {
    flex-basis: 35%;
    margin-top: -10vh;
    margin-left: 5vw;
    text-align: left;
}

/* CONTACT LEFT */
.contact-left p {
    margin-left: 0vw; /* Adjust the left margin using viewport width (vw) units */
    color: white;
    font-size: 1vw; /* Adjust the font size using viewport width (vw) units */
}
.contact-left img{
    height: 100%;
    max-width: 8vw;
    display: block;
    margin-top: 3.5vh;
    margin-bottom: 3vh;
    margin-right: 0.5vw;
}
.contact-left p i {
    color: white;
    padding: 1vh 1vw;
    margin-right: 1vw; /* Adjust the right margin using viewport width (vw) units */
    font-size: 1vw; /* Adjust the font size using viewport width (vw) units */
}
.contact-left h1{
    font-size: 2vw; /* Adjust the font size using viewport width (vw) units */
    font-weight: 600;
    padding-bottom: 5vh;
    text-align: left;
    color: #FFD166;
    margin-left: 1.3vw;
    margin-top: 10vh;
}

/* CONTACT title */
.sub-title {
    font-size: 2vw; /* Adjust the font size using viewport width (vw) units */
    font-weight: 600;
    padding-bottom: 5vh;
    color: #FFD166;
}

/* .sub-title.sub2 {
    margin-bottom: 2vh;
    font-size: 1vw;
    font-weight: 600;
    color: #FFD166;
} */

/* .social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-left: 50px;
    color: black;
    display: inline-table;
    transition: transform 0.5s;
} */
/* .social-icons a:hover{
    color: red;
    transform: translateY(-5px);
} */
.btn.btn2 {
    margin-top: 3vh; /* Adjust the top margin using viewport height (vh) units */
    display: inline-block;
    text-align: center;
    padding: 1vh 1vw;
    background: #FFD166;
    border-radius: 0.5vw; /* Adjust the border radius using viewport width (vw) units */
    text-decoration: none;
    margin-left: 4vw;
}

.btn.btn2 p {
    color: black;
    font-size: 1vw; /* Adjust the font size using viewport width (vw) units */
}

.contact-right {
    margin-left: 7vw; /* Adjust the left margin using viewport width (vw) units */
    flex-basis: 35%;
    margin-right: 16vw;
}


form input,
form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 2vh 2vw; /* Adjust the padding using viewport width (vw) units */
    margin: 1vh 0; 
    color: white;
    font-size: 1vw; /* Adjust the font size using viewport width (vw) units */
    border-radius: 0.5vw; /*Adjust the border radius using viewport width (vw) units*/
    resize: none;
}

.btn.btn3 {
    margin-top: 2vh; /* Adjust the top margin using viewport height (vh) units */
    display: inline-block;
    text-align: center;
    padding: 1vh 1vw;
    background: #FFD166;
    border-radius: 0.5vw; /* Adjust the border radius using viewport width (vw) units */
    text-decoration: none;
    margin-left: 98%;
}
form .btn3 {
    padding: 1vw 1vw; /* Adjust the padding using viewport width (vw) units */
    font-size: 1vw; /* Adjust the font size using viewport width (vw) units */
    /* margin-left: 15vw; */
    cursor: pointer;

}

.copyright {
    text-align: center;
    padding: 0.5vh 0; /* Adjust the padding using viewport height (vh) units */
    /* background-image: linear-gradient(center, #000, #535457); */
    /* background: #FFD166; */
    background-color: transparent;
    /* background-blend-mode: darken; */
    background-size: cover;
    width: 100%;
    font-weight: 100;
    color: white;
    opacity: 0.7;
    margin-bottom: -2%;
}

.copyright p {
    font-size: 1.3vh; /* Adjust the font size using viewport width (vw) units */;
}

/* ----------------css for samll screen */
/* nav .fas{
    display: none;
}
@media only screen and (max-width: 600px){
    #header{
        background-image: url(images/headshot.JPG);
    }
    .header-text{
        margin-top: 100%;
        font-size: 16px;
    }
    .header-text h1{
        font-size: 30px;
    }
    nav .fas{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: red;
        position: fixed;
        top: 0;
        right: 0;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fas{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
} */
#msg{
    color: #61b752;
    margin-top: 10px;
    display: block;
}
/* <!------------------------------------CONTACT END--------------------------------------> */

/* <!------------------------------------JAVASCRIPT---------------------------------------> */
/* <!--------------------------------JAVASCRIPT END---------------------------------------> */ */
